<!doctype html>
{% load static %}

<html>

<head>
  <title>TNNT::Leaderboards</title>
  {% include "headlinks.html" %}
  <script type="text/javascript" src="{% static 'js/leaderboard-select.js' %}"></script>
</head>

<body>

{% include "header.html" with page='leaderboards' %}

<div id="leaderboard-select" class="row">
  <div id="prev-board" class="board-lr-move">&laquo;</div>
  <div id="leaderboard-combobox">
    <label for="boards">Select leaderboard: </label>
    <select name="boards" id="boards-combobox">
      {% for board in leaderboards %}
        <option value="{{ board.id }}">{{ board.title }}</option>
      {% endfor %}
    </select>
    {# <button id="player-clan-switch">Switch to Clans</button> #}
  </div>
  <div id="next-board" class="board-lr-move">&raquo;</div>
</div>
<hr>

{% for board in leaderboards %}
  {% include "2boards.html" %}
{% endfor %}

</body>

</html>
